
@media only screen and (max-width: 991px) {
    .about .about-img{
        margin-right: 0;
    }
    .about .about-text{
        padding-left: 0;
        padding-top: 50px;
    }
    .about .resume .skill{
        padding-right: 0;
    }
    .about .resume .education{
        padding-left: 0;
        padding-top: 30px;
    }
    .about .resume .education .edu-list ul li p span br{
        display: none;
    }
    .service .service-card .card-body{
        margin-bottom: 20px;
    }
    .testimonial .owl-carousel .client-info{
        width: 100%;
    }
    .news .news-body .news-item{
        margin-bottom: 30px;
    }
    .news .news-body .news-item .news-photo a img{
        width: 100%;
    }
    .contact .form{
        padding-left: 0;
        padding-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    br{
        display: none;
    }
}

@media only screen and (max-width: 534px) {
    .hero .bgc .hero-content h1{
        font-size: 40px;
    }
    .about .sub-heading .sub-title{
        font-size: 35px;
    }
    .about .about-text .short h3{
        font-size: 35px;
    }
    .about .resume .sub-title{
        font-size: 35px;
    }
    .about .about-text .extra ul li{
        width: 100%;
        float: left;
    }
    .about .resume .skill .resume-title :before{
        width: 130px;
    }
    .about .resume .education .resume-title :before{
        width: 50px;
    }
    .service .sub-heading .sub-title{
        font-size: 35px;
        line-height: 45px;
    }
    .portfolio .sub-heading .sub-title{
        font-size: 35px;
    }
    .testimonial .sub-heading .sub-title{
        font-size: 35px;
        line-height: 45px;
    }
    .testimonial .owl-carousel .client-info .client-photo{
        width: 100%;
    }
    .testimonial .owl-carousel .client-info .client-text {
        width: 100%;
        margin-left: 0;
        position: relative;
        padding: 20px 0 0 0;
    }
    .testimonial .owl-carousel .client-info .client-text .client-name h3 ::before{
        width: 30px;
    }
    .testimonial .owl-carousel .client-info .client-text .client-name h3 span {
        padding-left: 35px;
    }
    .testimonial .owl-carousel .client-info .client-text .client-name p {
        padding-left: 35px;
    }
    .news .sub-heading .sub-title{
        font-size: 35px;
        line-height: 45px;
    }
    .contact .sub-heading{
        padding-right: 0;
    }
    .contact .sub-heading .sub-title{
        font-size: 35px;
        line-height: 45px;
    }
    .contact .short-list{
        padding-right: 0;
    }
    .footer{
        padding: 66.5px 0;
    }
    /* .footer .top{
        right: 120px;
        bottom: -47px;
    } */
}