* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0 40px;
  position: relative;
  clear: both;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.header .navbar .navbar-brand {
  padding-left: 48px;
}
.header .navbar .navbar-brand img {
  width: 70%;
}
.header .navbar .navbar-nav {
  padding-right: 40px;
}
.header .navbar .navbar-nav .nav-item {
  margin-right: 23px;
}
.header .navbar .navbar-nav .nav-item .nav-link {
  color: #7e7e7e;
  font-size: 16px;
  font-weight: 500;
  display: block;
  overflow: hidden;
  position: relative;
}
.header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #d6002f;
}
.header .navbar .navbar-nav .nav-item .nav-link .first {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  display: block;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.header .navbar .navbar-nav .nav-item .nav-link .secend {
  top: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.header .navbar .navbar-nav .nav-item .nav-btn {
  padding: 3px 25px;
  border: 2px solid #7e7e7e;
  border-radius: 6px;
}

.hero {
  height: 100vh;
}
.hero .bgc .hero-content h3 {
  color: #0f172a;
  font-size: 23px;
  line-height: 29.9px;
  margin: 0px 0px 15px;
  font-weight: 400;
}
.hero .bgc .hero-content h1 {
  color: #0f172a;
  font-size: 55px;
  line-height: 66px;
  margin: 0px 0px 17px;
  font-weight: 700;
}
.hero .bgc .hero-content h1 span {
  color: #d6002f;
}
.hero .bgc .hero-content p {
  color: #7e7e7e;
  font-size: 18px;
  line-height: 30px;
  margin: 0px 0px 32px;
  font-weight: 400;
}
.hero .bgc .hero-content .hero-btn {
  color: #0f172a;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #7e7e7e;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.hero .bgc .hero-content .hero-btn:hover {
  color: #d6002f;
  border-color: #d6002f;
}

.about {
  background-color: #F9F9FC;
  padding: 122px 0 100px;
}
.about .sub-heading {
  margin-bottom: 72px;
}
.about .sub-heading .sub-head {
  display: inline-block;
  position: relative;
  color: #d6002f;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin: 0px 0px 2px;
}
.about .sub-heading .sub-head :before {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  background-color: #d6002f;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 100%;
  margin-left: 10px;
}
.about .sub-heading .sub-title {
  color: #0f172a;
  font-size: 50px;
  line-height: 65px;
  margin: 0px 0px 10px;
  font-weight: 700;
}
.about .sub-heading .sub-text {
  color: #7e7e7e;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.about .about-img {
  margin-right: 50px;
}
.about .about-img img {
  width: 100%;
}
.about .about-text {
  padding-left: 50px;
}
.about .about-text .short h3 {
  color: #0f172a;
  font-size: 40px;
  line-height: 52px;
  margin: 0px 0px 22px;
  font-weight: 600;
}
.about .about-text .short p {
  color: #7e7e7e;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.about .about-text .short hr {
  color: #212529;
  line-height: 24px;
  margin: 16px 0px;
}
.about .about-text .extra h3 {
  color: #0f172a;
  font-size: 24px;
  line-height: 31.2px;
  margin: 0px 0px 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.about .about-text .extra ul {
  margin: 0 0 0 -20px;
  padding: 0;
  list-style-type: none;
}
.about .about-text .extra ul li {
  margin: 0 0 4px;
  width: 50%;
  float: left;
  padding-left: 20px;
}
.about .about-text .extra ul li p {
  color: #0f172a;
  font-size: 16px;
  font-weight: 500;
}
.about .about-text .extra ul li p span {
  color: #7e7e7e;
  font-weight: 400;
}
.about .about-text .extra a {
  color: #fff;
  background-color: #d6002f;
  border-color: #d6002f;
  padding: 8px 30px;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #7e7e7e;
  display: inline-block;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.about .about-text .extra a .wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}
.about .about-text .extra a .first {
  display: block;
  position: relative;
}
.about .about-text .extra a .secend {
  position: absolute;
  top: 100%;
  display: block;
}
.about .about-text .extra a:hover .first {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}
.about .about-text .extra a:hover .secend {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.about .resume {
  padding: 129px 0 0;
}
.about .resume .sub-title {
  color: #0f172a;
  font-size: 40px;
  line-height: 52px;
  margin: 0px 0px 10px;
  font-weight: 700;
  text-align: center;
}
.about .resume .skill {
  padding-right: 125px;
}
.about .resume .skill .resume-title {
  display: inline-block;
  position: relative;
}
.about .resume .skill .resume-title svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 30px;
  height: 30px;
  fill: none;
  margin-top: -2px;
}
.about .resume .skill .resume-title span {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  color: #0f172a;
  font-weight: 600;
  padding-left: 60px;
}
.about .resume .skill .resume-title :before {
  position: absolute;
  content: "";
  width: 250px;
  height: 1px;
  background-color: #d6002f;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 100%;
  margin-left: 10px;
}
.about .resume .skill .skill-list .skill-wrapper {
  margin-bottom: 30px;
}
.about .resume .skill .skill-list .skill-wrapper span {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: Inconsolata,monospace;
  margin-bottom: 10px;
}
.about .resume .education {
  padding-left: 125px;
}
.about .resume .education .resume-title {
  display: inline-block;
  position: relative;
}
.about .resume .education .resume-title svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 30px;
  height: 30px;
  fill: none;
  margin-top: -2px;
}
.about .resume .education .resume-title span {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
  color: #0f172a;
  font-weight: 600;
  padding-left: 60px;
}
.about .resume .education .resume-title :before {
  position: absolute;
  content: "";
  width: 170px;
  height: 1px;
  background-color: #d6002f;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 100%;
  margin-left: 10px;
}

.service {
  padding: 100px 0 100px;
}
.service .sub-heading {
  margin-bottom: 72px;
}
.service .sub-heading .sub-head {
  display: inline-block;
  position: relative;
  color: #d6002f;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin: 0px 0px 2px;
}
.service .sub-heading .sub-head :before {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  background-color: #d6002f;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 100%;
  margin-left: 10px;
}
.service .sub-heading .sub-title {
  color: #0f172a;
  font-size: 50px;
  line-height: 65px;
  margin: 0px 0px 10px;
  font-weight: 700;
}
.service .sub-heading .sub-text {
  color: #7e7e7e;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.service .service-card .card-body {
  width: 100%;
  height: 100%;
  clear: both;
  float: left;
  position: relative;
  background-color: #f9f9fc;
  padding: 50px 50px 40px;
  border-radius: 6px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.service .service-card .card-body:hover a span {
  width: 30px;
  background-color: #d6002f;
}
.service .service-card .card-body svg {
  width: 50px;
  height: 50px;
  color: #d6002f;
  margin-bottom: 25px;
  fill: none;
}
.service .service-card .card-body h3 {
  font-weight: 600;
  font-size: 22px;
  color: #0F172A;
  margin-bottom: 20px;
}
.service .service-card .card-body a {
  text-decoration: none;
  color: #7e7e7e;
  font-size: 18px;
  display: inline-block;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.service .service-card .card-body a span {
  position: s;
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #7e7e7e;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 14px;
  border-radius: 50px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.service .service-card .card-body a span ::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 2px;
  background-color: #7e7e7e;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0;
  top: -2px;
  border-radius: 50px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.service .service-card .card-body a span ::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 2px;
  background-color: #7e7e7e;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 0;
  bottom: -2px;
  border-radius: 50px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

/*# sourceMappingURL=style.css.map */